<!doctype html>
<html>
  <head>
    <title>John Says this is important</title>
  </head>
  <body>
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous"></script>
    <script>
      var socket = io()
      function sendMessage () {
        socket.emit(message,document.getElementById("chat-input").value)
        }
      socket.on("new_message", (data) => {
        document.getElementById("chat").innerHTML += "<br>" + data
        })
    </script>
    <div id="chat"></div>
    <input type="text" id="chat-input"> <button onclick="sendMessage()">Send</button>
  </body>
</html>
