<!doctype html>
<html>
  <head>
    <title>John Says this is important</title>
  </head>
  <body>
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous"></script>
    <script>
      var socket = io()
      function sendMessage () {
        socket.emit("message",{ "username" : document.getElementById("username").value,
                                "room" : document.getElementById("room").value
                              }
                            )
        }
      socket.on("new_message", (data) => {
        document.getElementById("chat").innerHTML += "<br>" + data
        })
      socket.on("setroom", (data) => {
        document.getElementById("roomname").innerHTML = data
      })
      })
    </script>
    <div id="chat"></div>
    <input type="text" id="username"><br>
    <input type="text" id="room"><br>
    <button onclick="sendMessage()">Send</button>
  </body>
</html>
